# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Sensitive Data
credentials.json
auth*.json

# Data files
*.xlsx
*.csv

# OS
.DS_Store
Thumbs.db

# Chrome
chrome_profile/

pw-browsers/
