# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Sensitive Data
credentials.json
auth*.json

# Data files
*.xlsx
*.csv
temp_*.json
order_results.json
test_api.json

# OS
.DS_Store
Thumbs.db

# Chrome
chrome_profile/

pw-browsers/

# Tests
test_*.py
test_api*.py
